@import url(reset.css);

*{
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    background: #f3f3f3;
    font-family: 'PT Sans', Arial, 'Helvetica', sans-serif!important;
    height: 100%;
    position: relative;
    width: 100%;
    min-width: 1024px;
    display: block;
    color: #4B4B4B;
    font-size: 13px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul li{
    list-style: none;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    border: 1px solid #E8E8E8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #D8D8D8;
    -moz-box-shadow: inset 0 1px 0 0 #D8D8D8;
    box-shadow: inset 0 1px 0 0 #D8D8D8;
    color: #A4A4A4;
    font-size: 14px;
    margin-right: 20px;
    padding: 10px 18px;
}

span.note {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    padding: 0px 5px;
    line-height: 26px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
}

span.note.red {
    background: #F00303;
}

span.note.yellow {
    background: #F7AA06;
}

span.note.dark_blue {
    background: #135DA2;
}

span.note.blue {
    background: #008FDF;
}

span.note.green {
    background: #1CA801;
}

span.note.brown {
    background: #A07300;
}

span.note.gray {
    background: #8F8F8F;
}


/* Login */
#imagen-notificacion {
    text-align: right;
    float: left;
    width: 40%;
    height: 100%;	
}

#imagen-notificacion img {
    height: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

#div-notificaciones{
    float: right;
    width: 58%;
    height: 100%;
    display: table;
}
.verNotificasion{
    background: #b3b3b3;
    color: #FFF;
    padding-left: 10px;
    padding-right: 7px;
    font-size: 17px;
}
#content-notificaciones{
    display: table-cell;
    vertical-align: middle;
}
.notificasion{
    border-bottom: solid;
    border-width: 1.5px;
    border-color: #cccccc;
    display: block;
    margin-top: 12px;
    vertical-align: middle;
    color: #919191;
}

#div-encuestas{
    float: right;
    width: 58%;
    height: 100%;
    display: table;
}
.verencuestas{
    background: #b3b3b3;
    color: #FFF;
    padding-left: 10px;
    padding-right: 7px;
    font-size: 17px;
}
#content-encuestas{
    display: table-cell;
    vertical-align: middle;
}
.encuestas{
    border-bottom: solid;
    border-width: 1.5px;
    border-color: #cccccc;
    display: block;
    margin-top: 12px;
    vertical-align: middle;
    color: #919191;
}

#login{
    background: url(../img/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#login-wrapper{
    width: 650px;
    margin: 0 auto;
    /*overflow: hidden;*/
    padding-top: 230px; 
}

#logo-login{
    background: url(../img/logo-login.png) no-repeat;
    float: left;
    height: 82px;
    width: 274px;
}

#login-form{
    float: right;
    width: 300px;
}

#inputs-login{
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid #C70000;
}

#inputs-login input {
    color: #444444;
    font-size: 14px;
    width: 100%;
    height: 45px;
    padding: 7px;
    border: none;
    padding-left: 40px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#inputs-login #LoginForm_username {
    background: url(../img/user-login.png) no-repeat transparent 11px center;
    border-bottom: 1px solid #cccccc;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#inputs-login #LoginForm_password {
    background: url(../img/password-login.png) no-repeat transparent 11px center;
    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#inputs-login #input-codigo {
    background: url(../img/password-login.png) no-repeat transparent 11px center;
}

#login-form input[type=submit]{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#ececec 100%);
    background: linear-gradient(top bottom,  #ffffff 0%,#ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );
    padding: 11px 25px;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    font-size: 14px;
    color: #747474;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    float: right;
    margin-top: 20px;
    cursor: pointer;
}

#login-form input[type=submit]:active{
    background: #ececec;
    background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ececec 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 100%);
    background: linear-gradient(top bottom,  #ececec 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 );
}

#login-footer{
    background: rgba(0,0,0,0.2);
    bottom: 0;
    color: white;
    font-size: 14px;
    line-height: 27px;
    height: 40px;
    padding-top: 8px;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Topbar */

#topbar{
    background: white;
    height: 60px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
}

.clima_laboral #topbar {
    border-bottom: 1px solid #ccc;   
}

#logo{
    float: left;
    padding: 15px 0 0 20px;
}

#logo img {
    height: 25px;
}

#breadcrums{
    display: block;
    float: left;
    font-size: 13px;
    margin-left: 60px;
    -moz-border-radius: 3px;
    -webki-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 5px;
    margin-top: 11px;
    border: 1px solid #E7E7E7;
    font-weight: bold;
}

#breadcrums p a{
    color: #d42424;
    display: inline-block;
    top: -3px;
    padding: 0 5px;
    position: relative;
}

#breadcrums p a:first-child{
    color: #939393;
}

span.breadcrums-sep{
    background: url(../img/breadcrums-sep.png) no-repeat;
    display: inline-block;
    height: 15px;
    margin-top: 5px;
    width: 8px;
}

#user{
    float: right;
    text-align: right;
    margin-right: -21px;
    height: 44px;
    margin-top: 6px;
    padding: 3px 10px;
    padding-top: 5px;
}

#company{
    color: #d42424;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 16px;
}

#user-name{
    color: #939393;
    font-size: 13px;
}

#company-logo{
    background: #F5F5F5;
    border: 1px solid #DFDFDF;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
    height: 44px;
    margin-left: 20px;
    margin-top: 6px;
}

#company-logo img {
    height: 100%;
}

#options{
    float: right;
    margin-left: 20px;
    margin-top: 15px;
}

#options ul{
    /*overflow: hidden;*/
}

#options ul li{
    float: left;
    margin: 0 5px;
    position: relative;
}

#notifications-icon span{
    background: #d21515;
    background: -moz-linear-gradient(top,  #d21515 0%, #B60707 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d21515), color-stop(100%,#B60707));
    background: -webkit-linear-gradient(top,  #d21515 0%,#c61414 100%);
    background: -o-linear-gradient(top,  #d21515 0%,#B60707 100%);
    background: -ms-linear-gradient(top,  #d21515 0%,#B60707 100%);
    background: linear-gradient(top bottom,  #d21515 0%,#B60707 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d21515', endColorstr='#B60707',GradientType=0 );
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #FFF;
    color: #FFF;
    display: block;
    font-size: 11px;
    padding: 1px 5px;
    position: absolute;
    right: -5px;
    top: -7px;
}

#options ul li .drop-top{
    display: none;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0px #666;
    -moz-box-shadow: 0 1px 2px 0px #666;
    box-shadow: 0 1px 2px 0px #666;
    right: -8px;
    padding: 10px 0px;
    position: absolute;
    top: 52px;
    z-index: 5;
}

#options ul li .drop-top ul{
    /*	overflow: hidden;*/
    width: 170px;
}

#options ul li .drop-top ul li{
    float: none;
    width: 100%;
}

#options ul li .drop-top ul li,
#options ul li .drop-top ul li a{
    color: #9E9E9E;
    white-space: nowrap;
    line-height: 26px;
    height: 27px;
    margin: 0;
}

#options ul li .drop-top ul li a {
    padding: 0 12px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#options ul li .drop-top ul li a:hover {
    background: #F0F0F0;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
}

#options ul li .drop-top span{
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
    top: -7px;
    right: 12px;
}

#options ul li a{
    display: block;
}

#options > ul> li > a{
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#options > ul > li > a:hover {
    /*	-moz-box-shadow: 0px 0px 2px #D8D8D8;
            -webkit-box-shadow: 0px 0px 2px #D8D8D8;
            box-shadow: 0px 0px 2px #D8D8D8;*/
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;

}

#options > ul > li > a:active {
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
}

#notifications-icon{
    background: url(../img/notifications-icon.png) center no-repeat;
    height: 17px;
    width: 18px;
}

#settings-icon{
    background: url(../img/settings-icon.png) center no-repeat;
    height: 15px;
    width: 15px;
}

#logout{
    background: white;
    border-left: 1px solid #dfdfdf;
    display: block;
    height: 100%;
    float: right;
    margin-left: 20px;
    width: 56px;

    -webkit-transition: -webkit-box-shadow .1s;
    -moz-transition: -moz-box-shadow .1s;
    -o-transition: -o-box-shadow .1s;
    transition: box-shadow .1s;
}

#logout:hover{
    background: #D21515;
    background: -moz-linear-gradient(top,  #D21515 0%, #BD0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D21515), color-stop(100%,#BD0000));
    background: -webkit-linear-gradient(top,  #D21515 0%,#BD0000 100%);
    background: -o-linear-gradient(top,  #D21515 0%,#BD0000 100%);
    background: -ms-linear-gradient(top,  #D21515 0%,#BD0000 100%);
    background: linear-gradient(top bottom,  #D21515 0%,#BD0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D21515', endColorstr='#BD0000',GradientType=0 );
    -moz-box-shadow: 0 -4px 0 #A00000 inset;
    -webkit-box-shadow: 0 -4px 0 #A00000 inset;
    box-shadow: 0 -4px 0 #A00000 inset;
}


#logout:active{
    background: #BD0000;
    background: -moz-linear-gradient(top,  #BD0000 0%, #E20303 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BD0000), color-stop(100%,#E20303));
    background: -webkit-linear-gradient(top,  #BD0000 0%,#E20303 100%);
    background: -o-linear-gradient(top,  #BD0000 0%,#E20303 100%);
    background: -ms-linear-gradient(top,  #BD0000 0%,#E20303 100%);
    background: linear-gradient(top bottom,  #BD0000 0%,#E20303 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BD0000', endColorstr='#E20303',GradientType=0 );
    -moz-box-shadow: 0 4px 0 #A00000 inset;
    -webkit-box-shadow: 0 4px 0 #A00000 inset;
    box-shadow: 0 4px 0 #A00000 inset;
}


#logout-icon{
    background: url(../img/logout-icon.png) no-repeat;
    display: block;
    height: 21px;
    margin: 17px auto 0 auto;
    width: 19px;
}

#logout:hover #logout-icon, #logout:active #logout-icon  {
    background: url(../img/logout-icon-hover.png) no-repeat;
}

/* Menu */

#menu{
    background: url(../img/menu-bg.jpg) repeat;
    height: 82px;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    clear: both;
}

#menu ul{
    display: inline-block;
    height: 100%;
}

#menu ul li{
    list-style: none;
    float: left;
    height: 100%;
    margin: 0 3px;
}

#menu ul li a{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
    display: block;
    font-size: 12px;
    margin-top: 5px;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
    padding: 8px 18px;
    height: 55px;
}

#menu ul li.active a,
#menu ul li a:hover{
    background: rgba(0,0,0,.2);
}

#menu ul li a span{
    display: block;
}

#menu ul li a span:first-child{
	margin: 0 auto 8px auto;
	height: 40px;
	opacity: .8;
	filter: alpha(opacity=80);
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}

#menu ul li.active a span:first-child,
#menu ul li a:hover span:first-child{
	opacity: 1;
	filter: alpha(opacity=100);
}

#menu ul li a span:nth-child(2){
    text-align: center;
    text-indent: -9999px;
}

#proyectos-icon{
    background: url(../img/proyectos-icon.png) center no-repeat;
    height: 29px;
    width: 35px;
}

#ingresos-icon{
    background: url(../img/ingresos-icon.png) center no-repeat;
    height: 39px;
    width: 45px;
}

#presupuestos-icon{
    background: url(../img/presupuestos-icon.png) center no-repeat;
    height: 30px;
    width: 22px;
}

#orden_compra-icon{
    background: url(../img/orden-de-compra-icon.png) center no-repeat;
    height: 33px;
    width: 22px;
}
#requisicion-icon{
    background: url(../img/orden-de-compra-icon.png) center no-repeat;
    height: 33px;
    width: 22px;
}
#pagos-icon{
    background: url(../img/pagos-icon.png) center no-repeat;
    height: 39px;
    width: 46px;
}

#gastos_comprobar-icon{
    background: url(../img/gastos-por-comprobar-icon.png) center no-repeat;
    height: 32px;
    width: 31px;
}

#reportes-icon{
    background: url(../img/reportes-icon.png) center no-repeat;
    height: 30px;
    width: 26px;
}

#archivos-icon{
    background: url(../img/archivos-icon.png) center no-repeat;
    height: 34px;
    width: 35px;
}


#clima_laboral-icon{
    background: url(../img/clima_icon.png) center no-repeat;
    height: 34px;
    width: 46px;
}


#grados-icon {
    background: url(../img/grados_icon.png) center no-repeat;
    height: 34px;
    width: 35px;
}

#menu ul li.active .menu-active,
#menu ul li:hover .menu-active{
    display: block;
}

.menu-active{
    border-bottom: 30px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    display: none;
    height: 0; 
    margin: -4px auto 0 auto;
    width: 0; 
}

/* Content */

div.content{
    background: white;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    margin-left: 2%; /* Modificar conforme al panel */
    margin-top: -17px;
    padding: 20px;
    width: 96%; /* Con panel es 64% */
    position: relative;
/*    height: 72.5%;*/
    min-height: 460px;


    margin-bottom: 50px;

}



div.content h1{
    color: #686868;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 23%;
}

div.content > .panel-trigger{
    float: right;
}

/*General */
.has_icon {
	padding-left: 30px;
	background-position: 16px center;
	background-repeat: no-repeat;
}

/* Panel */

#panel{
    background: #f6f6f6;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    height: 70.7%;
    min-height: 380px;
    margin-left: .2%;
    margin-top: -18px;
    margin-right: 1%;
    position: relative;
    width: 32%;
    margin-bottom: 30px;
}

.panel-trigger{
    cursor: pointer;
}

#panel-options{
    background: white;
    border-bottom: 1px solid #d8d8d8;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    height: 50px;
}

#panel-options h2{
    color: #474747;
    font-size: 18px;
    padding: 15px;
}

#panel-options ul{
    margin-left: 20px;
}

#panel-options ul li{
    float: left;
    margin: 15px 10px 0 10px;
}

#panel-options ul li a{
    display: block;
}

#reactivos-option {
    background: url(../img/reactivos_option.png) no-repeat center;
    height: 24px;
    width: 25px;
}

#presupuestos-option{
    background: url(../img/presupuestos-option.png) no-repeat center;
    height: 20px;
    width: 15px;
}

#roles-option{
    background: url(../img/groups-26.png) no-repeat center;
    height: 27px;
    width: 32px;
}

#pagos-option{
    background: url(../img/pagos-option.png) no-repeat center;
    height: 21px;
    width: 21px;
}

#archivos-option{
    background: url(../img/archivos-option.png) no-repeat center;
    height: 20px;
    width: 14px;
}

#panel-content #editar-option, #panel-content #eliminar-option{
    background: url(../img/editar-option.png) no-repeat center;
    height: 14px;
    width: 14px;
}

#panel-content #eliminar-option {
    background: url(../img/eliminar-icon.png) no-repeat center;
}

#panel-content #editar-option, #panel-content #eliminar-option {
    position: absolute;
    right: 53px;
    top: 0;
    z-index: 3;
    padding: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
}

#panel-content #eliminar-option {
    right: 20px;
}

#panel-content #editar-option:hover, #panel-content #eliminar-option:hover{
    background-color: #fff;
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;

}

#panel-content #editar-option:active, #panel-content #eliminar-option:active {
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
}


#close-panel{
    background: url(../img/close-panel.png) no-repeat;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
}

#panel-content{
    height: 93%;
    overflow: auto;
    padding: 0 15px;
    margin-top: 15px;
    height: 83%;
    position: relative;
}

#panel-breadcrums{
    border-bottom: 1px solid #d8d8d8;
    font-size: 14px;
    padding: 0 5px 5px 5px;
}

#panel-breadcrums p a{
    color: #474747;
    position: relative;
    top: -3px;
}

#panel-breadcrums p a:first-child{
    font-weight: bold;
}

#panel-content form{
    position: relative;
}

#panel-content form label{
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    color: #474747;
}

label,
input,
select {
    width: 100%;
}

textarea,
input[type=text],
input[type=password],
input[type=date],
input[type=number],
input[type=url],
select {
    color: #919191;
    background: white;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0px 0px 0px 1px #f6f6f6;
    -webkit-box-shadow: inset 0px 0px 0px 1px #f6f6f6;
    box-shadow: inset 0px 0px 0px 1px #f6f6f6;
    font-family: 'PT Sans', Arial, 'Helvetica', sans-serif;
    font-size: 14px;
    padding: 6px 8px;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 0 0 #D8D8D8;
    -moz-box-shadow: inset 0 1px 0 0 #D8D8D8;
    box-shadow: inset 0 1px 0 0 #D8D8D8;
}

select {
    -moz-box-shadow: 0px 1px 2px #E4E4E4;
    -webkit-box-shadow: 0px 1px 2px #E4E4E4;
    box-shadow: 0px 1px 2px #E4E4E4;
}

textarea{
    height: 100px;
    resize: vertical;
}

textarea:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=url]:focus,
select:focus {
    border-color: #B8B8B8;
}

.browse-file-button{
    background: #F8F8F8;
    background: -moz-linear-gradient(top,  #ffffff 0%, #F8F8F8  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#F8F8F8 ));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#F8F8F8  100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#F8F8F8  100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#F8F8F8  100%);
    background: linear-gradient(top bottom,  #ffffff 0%,#F8F8F8  100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F8F8F8 ',GradientType=0 );
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 2px 0px #e5e5e5;
    -webkit-box-shadow: 0px 1px 2px 0px #e5e5e5;
    box-shadow: 0px 1px 2px 0px #e5e5e5;
    padding: 10px 0;
    position: relative;
    border-bottom-width: 2px;
}

div.browse-file-button:hover {
    border-color: #B8B8B8;
}


div.browse-file-button:active {
    -moz-box-shadow: 0px 1px 11px 0px #DBDBDB inset;
    -webkit-box-shadow: 0px 1px 11px 0px #DBDBDB inset;
    box-shadow: 0px 1px 11px 0px #DBDBDB inset;
    background: #ECECEC;
    border-top-width: 2px;
}

.browse-file-button input[type=file]{
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.browse-file-button input[type=file]:hover{
    cursor: pointer;
}

.browse-file-icon{
    background: url(../img/browse-file.png) no-repeat;
    display: block;
    height: 64px;
    margin: 0 auto;
    width: 77px;
}

.browse-file-button p{
    color: #8b8b8b;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

#panel-content form input[type=submit],
#panel-content form input[type=button]{
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
}

.redbtn{
    background: #d21515;
    background: -moz-linear-gradient(top,  #d21515 0%, #c61414 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d21515), color-stop(100%,#c61414));
    background: -webkit-linear-gradient(top,  #d21515 0%,#c61414 100%);
    background: -o-linear-gradient(top,  #d21515 0%,#c61414 100%);
    background: -ms-linear-gradient(top,  #d21515 0%,#c61414 100%);
    background: linear-gradient(top bottom,  #d21515 0%,#c61414 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d21515', endColorstr='#c61414',GradientType=0 );
    border: 1px solid #b10707;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-family: 'PT Sans', Arial, 'Helvetica', sans-serif;
    font-size: 14px; 
    padding: 8px 14px;
    -webkit-box-shadow: 0px 1px 0px #AD0000;
    -moz-box-shadow: 0px 1px 0px #AD0000;
    box-shadow: 0px 1px 0px #AD0000;

    margin-top: 10px;
}

.redbtn:hover {
    background: #E61919;
    background: -moz-linear-gradient(top,  #E61919 0%, #c61414 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E61919), color-stop(100%,#c61414));
    background: -webkit-linear-gradient(top,  #E61919 0%,#c61414 100%);
    background: -o-linear-gradient(top,  #E61919 0%,#c61414 100%);
    background: -ms-linear-gradient(top,  #E61919 0%,#c61414 100%);
    background: linear-gradient(top bottom,  #E61919 0%,#c61414 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E61919', endColorstr='#c61414',GradientType=0 );
}

.redbtn:active{
    background: #c61414;
    background: -moz-linear-gradient(top,  #D21515 0%, #d21515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D21515), color-stop(100%,#d21515));
    background: -webkit-linear-gradient(top,  #D21515 0%,#d21515 100%);
    background: -o-linear-gradient(top,  #D21515 0%,#d21515 100%);
    background: -ms-linear-gradient(top,  #D21515 0%,#d21515 100%);
    background: linear-gradient(top bottom,  #D21515 0%,#d21515 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D21515', endColorstr='#d21515',GradientType=0 );
    -webkit-box-shadow: 0px -1px 0px #AD0000;
    -moz-box-shadow: 0px -1px 0px #AD0000;
    box-shadow: 0px -1px 0px #AD0000;
}

.whitebtn {
    background: #fff;
    background: -moz-linear-gradient(top,  #fff 0%, #F0F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top,  #fff 0%,#F0F0F0 100%);
    background: -o-linear-gradient(top,  #fff 0%,#F0F0F0 100%);
    background: -ms-linear-gradient(top,  #fff 0%,#F0F0F0 100%);
    background: linear-gradient(top bottom,  #fff 0%,#F0F0F0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#F0F0F0',GradientType=0 );
    border: 1px solid #C9C9C9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    display: inline-block;
    font-family: 'PT Sans', Arial, 'Helvetica', sans-serif;
    font-size: 14px; 
    padding: 8px 14px;
    -webkit-box-shadow: 0px 1px 0px #C9C9C9;
    -moz-box-shadow: 0px 1px 0px #C9C9C9;
    box-shadow: 0px 1px 0px #C9C9C9;

    margin-top: 10px;
}

.whitebtn:hover {
    background: #fff;
    -webkit-box-shadow: 0px 2px 0px #C9C9C9;
    -moz-box-shadow: 0px 2px 0px #C9C9C9;
    box-shadow: 0px 2px 0px #C9C9C9;
}

.whitebtn:active {
    background: #F0F0F0;
    background: -moz-linear-gradient(top,  #F0F0F0 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#fff));
    background: -webkit-linear-gradient(top,  #F0F0F0 0%,#fff 100%);
    background: -o-linear-gradient(top,  #F0F0F0 0%,#fff 100%);
    background: -ms-linear-gradient(top,  #F0F0F0 0%,#fff 100%);
    background: linear-gradient(top bottom,  #F0F0F0 0%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#fff',GradientType=0 );
    -webkit-box-shadow: 0px 2px 0px #C9C9C9 inset;
    -moz-box-shadow: 0px 2px 0px #C9C9C9 inset;
    box-shadow: 0px 2px 0px #C9C9C9 inset;
}

#panel-content div.panel_section{
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
    padding: 10px 6px;
    position: relative;
    color: #666;
}

#panel-content .clear {
    clear: both;
}

#panel-content  div.cols {
    float: left;
/*    min-height: 80px;*/
    padding: 10px;
}


#panel-content div > h3{
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 0 6px 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

#panel-content div[data-cols="0"]{
    display: none;
}

#panel-content div[data-cols="1"]{
    width: 25%;
}

#panel-content div[data-cols="2"]{
    width: 50%;
}

#panel-content div[data-cols="3"]{
    width: 75%;
}

#panel-content div[data-cols="4"]{
    width: 100%;
}

li.permisos_list {
    border-bottom: 1px solid #DFDFDF;
    padding: 2px 2px;
    color: #6F6F6F;
    list-style: square inside;
}

.panel-info{
    font-size: 14px;
}

.panel-info h3{
    font-weight: bold;
    margin-bottom: 5px;
}

.panel_section h4 {
    color:#505050;
    margin-bottom: 5px;
    font-size: 14px;
}

.panel-info h3 span{
    color: #474747;
}

.panel-info p span{
    color: #474747;
}

#yellow-icon{
    background: url(../img/yellow-icon.png) no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
}


#DivComentarios {
    max-height: 85px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
}
.comentarios:last-child {
    margin-bottom: 15px;
}

#DivComentarios .ver_comentarios {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.comentarios{
    position: relative;
    padding-right: 16px;
}
.fechaComentado{
    color: #6E6E6E;
    font-size: 10px;
}

.cerrar{
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #cecece;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.cerrar:hover{
    background: #bbbbbb;
    color: #FFF;
    cursor:  pointer;
}


#panel-content label[for^=check-select_]{
    position: relative;
    top: 22px;
}

/* Files ######################################################################## */

#files_tree{
    background: #f6f6f6;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #939393;
    font-size: 14px;
}

#files_tree > ul > li:last-child{
    margin-bottom: 10px;
}

#files_tree ul{
    list-style: none;
}

#files_tree li{
    margin-top: 10px;
}

#files_tree span{
    margin-right: 5px;
}

#files_tree ul > li,
#files_tree ul > ul{
    margin-left: 20px;
}

.folder{

}

.folder-icon{
    background: url(../img/folder-icon.png);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 28px;
}

.file-icon{
    background: url(../img/file-icon.png);
    display: inline-block;
    height: 16px;
    width: 12px;
}

/* Listado ##################################################################### */


.gear-panel-icon{
    background: url(../img/gear-panel-icon.png) no-repeat center;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.gear-asig-icon, .more_icon{
    background: url(../img/user-login.png) center no-repeat;
    display: inline-block;
    height: 15px;
    width: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.more_icon {
    background: url(../img/more_icon.png) center no-repeat;
    width: 30px;
    height: 34px;
}

.gear-asig-icon:hover, .more_icon:hover {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;
    background-color: #fff;
}

.gear-asig-icon:active, .more_icon:active {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
    background-color: #fff;
}


.add-icon{
    background: url(../img/add-icon.png) no-repeat;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    width: 15px;
}

.delete-icon{
    background: url(../img/delete-icon.png) no-repeat;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    width: 15px;
}

.yellow_tr{
    border-left: 5px solid #fcca00;
}

.gray_tr{
    border-left: 5px solid #8F8F8F;
}


.green_tr{
    border-left: 5px solid #449848;
}

.red_tr{
    border-left: 5px solid #ea0000;
}


.trigger-table-drop{
    background: url(../img/trigger-table-drop-icon.png) no-repeat;
    display: inline-block;
    height: 17px;
    width: 10px;
    -webkit-transition: all ease-out 100ms;
    -moz-transition: all ease-out 100ms;
    -o-transition: all ease-out 100ms;
    transition: all ease-out 100ms;
    position: absolute;
    right: 0;
}

.trigger-table-drop.active{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#searchInTable{
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #D8D8D8;
    -moz-box-shadow: inset 0 1px 0 0 #D8D8D8;
    box-shadow: inset 0 1px 0 0 #D8D8D8;
    color: #a4a4a4;
    font-size: 14px;
    margin-right: 20px;
    padding: 10px 18px;
    width: 400px;
}

#searchInTable:focus {
    border-color: #B9B9B9;
}

.table tr.child{
    display: none;
}

.dataTables_length{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: linear-gradient(top bottom,  #ffffff 0%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    margin: 7px 20px 0 0;
    padding: 8px 15px!important;
    display: none;
}

ul#table-options{
    /*overflow: hidden;*/
}

ul#table-options li{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #FCFCFC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#FCFCFC));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#FCFCFC 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#FCFCFC 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#FCFCFC 100%);
    background: linear-gradient(top bottom,  #ffffff 0%,#FCFCFC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FCFCFC',GradientType=0 );
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    -webkit-box-shadow: 0px 1px 0px #E6E6E6;
    -moz-box-shadow: 0px 1px 0px #E6E6E6;
    box-shadow: 0px 1px 0px #E6E6E6;
    cursor: pointer;
    float: left;
    padding: 7px 15px;
}

ul#table-options li:active{
    background: #FCFCFC;
    background: -moz-linear-gradient(top,  #FCFCFC 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCFCFC), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #FCFCFC 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #FCFCFC 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #FCFCFC 0%,#ffffff 100%);
    background: linear-gradient(top bottom,  #FCFCFC 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFCFC', endColorstr='#ffffff',GradientType=0 );
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
}

ul#table-options li:first-child{
    border-left: 1px solid #e4e4e4;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

ul#table-options li:last-child{
    border-left: 1px solid #e4e4e4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 15px;
}

ul#table-options li:nth-last-child(2){
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul#table-options li:hover{
    border-color: #CECECE;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;
}

ul#table-options li a{
    display: block;
    height: 19px;
}

#imprimir-icon{
    background: url(../img/imprimir-icon.png) no-repeat;
    width: 16px;
}

#descargar-icon{
    background: url(../img/descargar-icon.png) no-repeat;
    width: 16px;
}

#eliminar-icon{
    background: url(../img/eliminar-icon.png) no-repeat;
    width: 17px;
}

#marcar-icon{
    background: url(../img/marcar-icon.png) no-repeat;
    width: 21px;
}

#desmarcar-icon{
    background: url(../img/desmarcar-icon.png) no-repeat;
    width: 25px;
}

input[id^=check-select_] + label,
input[id=select_all] + label,
input.check-select + label,
input.select_all + label,
.producto_check > p > span {
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px 1px rgba(0,0,0,0.25);
    box-shadow: inset 0 1px 2px 1px rgba(0,0,0,0.25);
    display: inline-block;
    height: 18px;
    width: 18px;
}

input.select_all + label,
label[for^=check-select_],
input.check-select + label {
    position: relative;
    right: -6px;
}

input[id^=check-select_]:checked + label,
input[id=select_all]:checked + label, 
input.check-select:checked + label,
input.select_all:checked + label,
.producto_check input:checked + p > span {
    background: url(../img/check-icon.png) 5px 5px no-repeat;
}

label[for^=check-select_]:hover,
label[for=select_all]:hover,
input.check-select:hover,
input.select_all:hover {
    cursor: pointer;
}

label[for^=check-select_]:active,
label[for=select_all]:active,
input.check-select:active,
input.select_all:active { 
    background: #c9c9c9;
}

input[id^=check-select_],
input[id=select_all], 
input.check-select,
input.select_all {
    display: none;
}



#table{
    background: none;
}

span.money_green{
    background: #d5ffd6;
    border: 1px solid #75bd8c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 1px 18px;
}


span.money_white{
	background: white;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	padding: 1px 18px;
	width: 130px;
}

.select{
    background-color: #E6E6E6;
}


/* Tablas */
.td_containter {

}

/* Catalogos ########################################################## */


#conceptos li {
    padding: 4px 0;
    border-top: 1px solid #CCC;
    list-style: square inside;
    position: relative;
}

#conceptos li:first-child {
    border-top: none;    
}

#conceptos li a.delete_concepto {
    position: absolute;
    top: 2px;
    right: 0;
    width: 20px;
    height: 90%;
    background: url(../img/close-panel.png) no-repeat center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


#conceptos li a.delete_concepto:hover {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;
    background-color: #fff;
}

#conceptos li a.delete_concepto:active {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
    background-color: #fff;
}

/* Roles ################################################################## */

.modulo_option {
    margin-bottom: 4px;

}

.permisos_options {
    clear: both;
    width: 100%;
}

.permisos_options li {
    float: left;
    width: 25%;
    height: 35px;
    position: relative;
    top: 0;
    left: 0;
}

.permisos_options input.check-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    cursor: pointer;
}

#panel-content form .permisos_options li .permisos_icon  {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: -6px;
    border: 1px solid #CECECE;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-left-width: 0;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;
    background-color: #fff;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: 22px;
}

/* Si no está dentro de un form se le quitan los bordes y fondo blanco */
#panel-content .permisos_options li .permisos_icon  {
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: 22px;
}


#panel-content form .permisos_options li:first-child input.check-select + label {
    border-left-width: 1px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px; 

}

#panel-content form .permisos_options li:last-child input.check-select + label {
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px; 

}

#panel-content form .permisos_options li:hover input.check-select + label{
    border-color: #B9B9B9;
    -webkit-box-shadow: 0px -2px 0px #B9B9B9 inset;
    -moz-box-shadow: 0px -2px 0px #B9B9B9 inset;
    box-shadow: 0px -2px 0px #B9B9B9 inset;
}


#panel-content form .permisos_options li:active input.check-select + label{
    -webkit-box-shadow: 0px 2px 0px #B9B9B9 inset;
    -moz-box-shadow: 0px 2px 0px #B9B9B9 inset;
    box-shadow: 0px 2px 0px #B9B9B9 inset;
}


#panel-content form .permisos_options li input.check-select:checked + label {
    -webkit-box-shadow: 0px 2px 0px #D1D1D1 inset;
    -moz-box-shadow: 0px 2px 0px #D1D1D1 inset;
    box-shadow: 0px 2px 0px #D1D1D1 inset;
    background-color: #F1F1F1;
}

#panel-content .permisos_options li.permisos_ver .permisos_icon {
    background-image: url(../img/visible-26.png);
}

#panel-content .permisos_options li.permisos_crear .permisos_icon {
    background-image: url(../img/add_file-26.png);
}

#panel-content .permisos_options li.permisos_editar .permisos_icon {
    background-image: url(../img/edit_file-26.png);
}

#panel-content .permisos_options li.permisos_eliminar .permisos_icon {
    background-image: url(../img/delete_file-26.png);
}




/* Setup encuesta ######################################################### */

#setup_encuesta #grupos {
    margin-top: 15px;
    overflow: auto;
    height: 85%;
    margin-bottom: 30px;
}

#setup_encuesta .grupo{
    color: #919191;
    border-bottom: solid 1px #dbdbdb;
    padding: 4px;
    position: relative;
    list-style: none;
    background: #fff;
}

#setup_encuesta .grupo:first-child, #setup_encuesta .grupo.ui-sortable-helper {
    border-top: solid 1px #dbdbdb;
}

#setup_encuesta .grupo_header {
    width: 100%;
    height: 45px;
}

#setup_encuesta .grupo_toogle {
    background: url(../img/desmarcar-icon.png) no-repeat center;
    width: 28px;
    height: 100%;
    float: left;
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
}

#setup_encuesta .grupo_closed .grupo_toogle {
    background: url(../img/marcar-icon.png) no-repeat center;
}

#setup_encuesta .nombre_grupo{
    width: 80%;
    float: left;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    height: 100%;
    line-height: 47px;
    font-size: 16px;
}

#setup_encuesta .reactivos{ 
    min-height: 5px;
    overflow: hidden;
}

#setup_encuesta .reactivo{
    color: #919191;
    border-top: solid 1px #dbdbdb;
    padding: 3px;
    display: block;
    height: 40px !important;
    clear: both;
    background: #fff;
    position: relative;
}

#setup_encuesta .reactivo.ui-sortable-helper {
    border-bottom: solid 1px #dbdbdb;
}

#setup_encuesta .reactivo_toggle {
    background: url(../img/pregunta.png) no-repeat center;
    width: 22px;
    height: 100%;
    float: left;
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    margin-left: 30px;
}

#setup_encuesta .nombre_reactivo {
    height: 100%;
    line-height: 30px;
    display: inline-block;
    margin-left: 15px;
}

#setup_encuesta .more_icon{
    position: absolute;
    top: 8px;
    right: 10px;
}

#setup_encuesta .reactivo .more_icon {
    top: 3px;
    right: 6px;
}


#setup_encuesta .add_reactivo{
    position: absolute;
    top: 7px;
    right: 45px;
    height: 35px;
    width: 33px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url(../img/reactivos_option.png) no-repeat center;
}

#setup_encuesta .add_reactivo:hover {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;
    background-color: #fff;
}

#setup_encuesta .add_reactivo:active {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
    background-color: #fff;
}

#setup_encuesta .portlet-placeholder {
    border: 3px dotted #F18B8B;
    background: #FFF2F2;
    margin: 5px 0;
    height: 60px;
    width: 100%;
}

#setup_encuesta .reactivo-portlet-placeholder {
    border: 3px dotted #F18B8B;
    background: #FFF2F2;
    margin: 5px 0;
    height: 35px;
    width: 100%;
}


/* Panel de Setup encuestas */

.respuesta_reactivo_input {
    position: relative;
    margin-top: 10px;
}

.panel_section .respuesta_reactivo_input:first-child {
    margin-top: 0;
}

.respuesta_reactivo_input > a {
    display: block;
    background: url(../img/close-panel.png) center no-repeat;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 3px;
    top: 5px;
    width: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    z-index: 3;
    text-indent: -9999px;
}

.respuesta_reactivo_input > a:hover{
    background-color: #fff;
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;

}

.respuesta_reactivo_input > a:active {
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
}



/* Realizar encuesta ####################################################### */

#index_encuestas {
    margin-top: 12px;
}

#index_encuestas #imagen-notificacion {
    width: 45%;
}

#index_encuestas .list_wrapper {
    float: left;
    width: 50%;
    padding-top: 100px;
}

#index_encuestas.grados .list_wrapper {
    padding-top: 30px;
}

#index_encuestas h2 {
    margin-bottom: 10px;
}

#index_encuestas.grados .list_heading {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #CCC;
    padding: 5px 5px;
}

#index_encuestas.grados .list_heading:first-child {
    border-top: 1px solid #CCC;
    margin-top: 20px;
}


#index_encuestas .encuesta {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#index_encuestas .encuesta > p {
    padding-left: 10px;
    line-height: 37px;
}

#index_encuestas .encuesta > p span.note {
    margin-right: 15px;
}

#index_encuestas .encuesta:first-child {
    border-top: 1px solid #ccc;
}

#index_encuestas .ver_encuesta {
    position: absolute;
    top: 1px;
    right: 8px;
    height: 35px;
    width: 33px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url(../img/more_icon.png) no-repeat center;
}

#index_encuestas .ver_encuesta:hover {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;
    background-color: #fff;
}

#index_encuestas .ver_encuesta:active {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
    background-color: #fff;
}


/* Contestar encuestas ######################################################### */

#contestar_encuesta{
    background: white;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 14px;
    padding-bottom: 75px;
    position: relative;
}

#contestar_encuesta h2{

    font-size: 23px;
    font-weight: 400;
    margin-bottom: 25px;
}

#contestar_encuesta h2 span{
    margin-top: 9px;
    margin-right: 10px;
}


#contestar_encuesta #clima-icon{
    background: url(../img/clima-icon.png);
    display: inline-block;
    height: 22px;
    width: 28px;
}

#contestar_encuesta #grados-icon{
    background: url(../img/encuesta360.png) no-repeat center;
    display: inline-block;
    height: 28px;
    width: 28px;
}


#contestar_encuesta .bloque_reactivos {
    list-style: none;
    height: 10px;
    clear: both;
    display: table;
    width: 100%;
}

#contestar_encuesta .reactivo {
    padding: 10px 30px;
    display: inline-block;
    width: 100%;
    clear: both;
    border-bottom: 1px solid #DBDBDB;

}

#contestar_encuesta .reactivo:first-child {
    border-top: 1px solid #DBDBDB;
}

#contestar_encuesta .preg{
    float: left;
    width: 70%;
}

#contestar_encuesta .preg .preg_title {
    font-size: 16px;
    margin-bottom: 5px;    
}

#contestar_encuesta .resp{
    float: right;
    width: 30%;
    text-align: right;
}

/* Faces */

#contestar_encuesta .faces .resp{
    overflow: hidden;
    float: right;
    width: auto;
}

#contestar_encuesta .faces .resp li{
    display: inline-block;
    padding: 8px 8px 3px 8px;
    cursor: pointer;
    float: left;
    background-color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#contestar_encuesta .faces .resp li:hover{
    border-color: #CECECE;
    background-color: #fff;
    -webkit-box-shadow: 0px -2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px -2px 0px #E6E6E6 inset;
    box-shadow: 0px -2px 0px #E6E6E6 inset;
}

#contestar_encuesta .faces .resp li:active,
#contestar_encuesta .faces .resp li.face_selected {
    border-color: #BBB;
    -webkit-box-shadow: 0px 2px 0px #E6E6E6 inset;
    -moz-box-shadow: 0px 2px 0px #E6E6E6 inset;
    box-shadow: 0px 2px 0px #E6E6E6 inset;
    background-color: #F3F3F3;
}

#contestar_encuesta .faces .resp .green-face,
#contestar_encuesta .faces .resp .yellow-face,
#contestar_encuesta .faces .resp .red-face{
    display: inline-block;
    height: 45px;
    width: 48px;
}

#contestar_encuesta .faces .resp .green-face,
#contestar_encuesta .faces .resp .yellow-face {
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}


#contestar_encuesta .faces .resp .yellow-face {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-right: none;
}

#contestar_encuesta .faces .resp .red-face{
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#contestar_encuesta .faces .resp .green-face{
    background-image: url(../img/green-face.png);
}

#contestar_encuesta .faces .resp .yellow-face{
    background-image: url(../img/yellow-face.png);
}

#contestar_encuesta .faces .resp .red-face{
    background-image: url(../img/red-face.png);
}


#nav-preguntas{
    overflow: hidden;
    padding: 10px 30px 20px 30px;
}

#nav-preguntas input:first-child{
    float: left;
}

#nav-preguntas input:last-child{
    float: right;
}

#contestar_encuesta .slider{
    cursor: pointer;
}

#contestar_encuesta .slider-values{
    float: right;
    margin-top: 10px;
}

#contestar_encuesta .slider-values ul li{
    float: left;
    width: 20%;
    text-align: center;
}

#contestar_encuesta .balloon-icon{
    position: absolute;
    display: inline-block;
    background: url(../img/balloon-icon.png) no-repeat;
    height: 13px;
    width: 14px;
    top: 11px;
    left: 10px;
}

#contestar_encuesta .preg-abierta .resp{
    position: relative;
    width: 100%;
}

#contestar_encuesta .preg-abierta .resp{
    height: 80px;
    margin-top: 10px;
}

#contestar_encuesta .preg-abierta .resp textarea{
    background: none;
    width: 100%;
    height: 100%;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px 0 #dfdfdf;
    resize: yaxis;
    padding: 10px 30px;
    font-size: 14px;
}

#contestar_encuesta .preg-abierta .resp textarea:focus{
    border-color: #b8b8b8;
}

#contestar_encuesta .slider-resp{
    background: #DCDCDC;
    margin-top: 10px;
    width: 265px;
    position: relative;
    margin-right: 20px;
    height: 9px;
    box-shadow: 0 0 3px #ADADAD inset;
    border-radius: 10px;
}

#contestar_encuesta .slider-resp .indicator {
    width: 25px;
    height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: -34px;
    left: -7px;
    background: #D21515;
    color: #FFF;
    display: none;
    text-align: center;
    line-height: 26px;
}

#contestar_encuesta .slider-resp .indicator:before {

    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -7px;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #D21515;

}

#contestar_encuesta .ui-slider-range-min{
    background: #D11515!important;
}

#contestar_encuesta .slider-resp > a{
    display: inline-block;
    /*background: url(../img/slider.gif) no-repeat!important;*/
    height: 23px;
    width: 12px;
    margin-top: -3px;
    margin-left: -2px;
    background: #FFFDFD;
    -moz-box-shadow: 0 0 2px #969696;
    -webkit-box-shadow: 0 0 2px #969696;
    box-shadow: 0 0 2px #969696;
}

#contestar_encuesta .reactivo.slider .resp {
    max-width: 285px;
}

#contestar_encuesta .reactivo.slider .resp ul {
    display: block;
    padding-top: 17px;
    margin-left: -9px;
    right: 4px;
    position: relative;
}

#contestar_encuesta .reactivo.slider .resp ul li{
    float: left;
    color: #6E6E6E;
    font-size: 10px;
    text-align: center;
/*    border-left: 1px solid #CFCFCF;*/
/*    line-height: 35px;*/
    height: 5px;
    margin-bottom: 26px;
    position: relative;
/*    text-indent: -9999px;*/
}

#contestar_encuesta .reactivo_slider .resp ul li span {
 /*   display: block;
    height: 48px;
    width: 16px;
    position: absolute;
    top: -21px;
    left: 7px;
    line-height: 84px;
    text-*/
}

#contestar_encuesta .redbtn {
    width: 120px;
    margin-left: auto;
    display: block;
    margin-top: 15px;
    text-align: right;
    position: absolute;
    bottom: 18px;
    right: 50px;
}

#contestar_encuesta .redbtn .arrow_left {
    background: url(../img/arrow_right.png) no-repeat 0 center;
    width: 20px;
    height: 22px;
    display: block;
    float: right;
    margin-left: 10px;
}


/* Reportes ############################################################ */

div[id^=filtro_]{
    display: none;
}

#reporte-container {
	clear: both;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}

#mws-line-chart {
	width: 100%;
	height: 300px;
}

/* Footer */

footer{
    bottom: 0;
    color: #878787;
    background: #F3F3F3;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    padding: 13px 0;
    padding-bottom: 0;
    width: 100%;
    width: 96%;
    margin: 0 auto;
    display: block;

    height: 45px;
    padding: 13px 3%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #DBDBDB;
}

footer p{
    display: table-cell;
    vertical-align: middle;
    margin-right: 30px;
}

footer ul{
    display: table-cell;
    vertical-align: middle;
}

footer ul li{
    float: left;
    border-right: 1px solid #c1c1c1;
    padding: 0 15px;
}

footer ul li:last-child{
    border-right: 0;
}

footer ul li a{
    color: #878787;
}

footer ul li a:hover{
    text-decoration: underline;
}

